

ul {
  list-style-type: none;
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;  
  text-align: center;
  background-color: lightgrey;
  margin: 5;
}

li {
  display: inline;
}

p {
  background-color: lightgrey;
  text-align: center;
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  margin: 5;
}


.column {
  column-count: 3;
  text-align: center;
}

.row {
  background-color: lightgrey;
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  margin: 5;
}

h1 {
  text-align: center;
}
